.modelBackground {
	height: 70%;
	width: 40%;
	position: absolute;
	top: 15%;
	left: 30%;
	/* border: 1px solid rgb(31, 30, 30); */
	/* border: 1px solid #FE8074; */
	/* background-color: #FE8074; */
	z-index: 0;
	border-radius: 25px;

}