.navigationMainContainer p {
	font-size: 14px;
	font-weight: 500;
	color: var(--text-secondary);
	border: 1px solid transparent;
	border-radius: 38px;
	width: max-content;
	padding: 14px 28px;
	transition: color .6s ease-in-out;
	cursor: pointer;
	position: relative;
}

.navigationMainContainer p:hover {
	color: var(--text-primary);
}

.navigationMainContainer p::before {
	content: "";
	position: absolute;
	inset: 0;
	top: 80%;
	left: 10px;
	/* places glow below */
	width: 100%;
	height: 70%;
	background: radial-gradient(ellipse at center,
			rgba(255, 255, 255, 0.25),
			rgba(255, 255, 255, 0) 70%);
	filter: blur(25px);
	opacity: 0;
	transition: opacity .3s ease-in-out;
	pointer-events: none;
}

.navigationMainContainer p:hover::before {
	opacity: 1;
}

.navigationMainContainer P::after {
	content: "";
	width: 6px;
	height: 6px;
	position: absolute;
	left: 12px;
	top: calc(50% - 3px);
	border-radius: 6px;
	background-color: var(--text-secondary);
	transition: all .3s ease-in-out;
	opacity: 0;
}

.navigationMainContainer P:hover::after {
	background-color: var(--text-primary);
	opacity: 1;
}

/* secondary container */
.navigationSecondaryContainer {
	cursor: pointer;
	transition: transform .6s ease-in-out;
}

.navigationSecondaryContainer:hover {
	transform: scale(1.1);
}

.navigationSecondaryContainer p {
	font-size: 14px;
	font-weight: 500;
	color: var(--text-secondary);
	border: 1px solid transparent;
	border-radius: 38px;
	width: max-content;
	padding: 14px 28px;
	transition: color .6s ease-in-out;
	position: relative;
}


.navigationSecondaryContainer p:hover {
	color: var(--text-primary);
}


.shopBtn {
	color: var(--text-primary);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--brand-color);
	width: 60px;
	height: 50px;
	border-radius: 24px;
}