.navigationMainContainer p {
	font-size: 14px;
	font-weight: 500;
	color: var(--text-secondary);
	overflow: hidden;
	border-radius: 38px;
	width: max-content;
	padding: 14px 28px;
	transition: color .6s ease-in-out;
	cursor: pointer;
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	gap: 4px;

}

.navigationMainContainer p svg {
	transition: .3s ease-in;
	color: var(--text-primary);
	height: 18px;
	opacity: 0;
	transform: translateY(100%);
}

.navigationMainContainer p:hover svg {
	opacity: 1;
	transform: translateY(0px);
}

.navigationMainContainer p:hover {
	color: var(--text-primary);
}

.navigationMainContainer p::before {
	content: "";
	position: absolute;
	inset: 0;
	top: 80%;
	left: 10px;
	/* places glow below */
	width: 100%;
	height: 70%;
	background: radial-gradient(ellipse at center,
			rgba(0, 119, 255, 0.25),
			rgba(255, 0, 0, 0) 70%);
	filter: blur(25px);
	opacity: 0;
	transition: opacity .3s ease-in-out;
	pointer-events: none;
}

.navigationMainContainer p:hover::before {
	opacity: 1;
}

/* 
.navigationMainContainer P::after {
	content: "";
	width: 6px;
	height: 6px;
	position: absolute;
	left: 12px;
	top: calc(50% - 3px);
	border-radius: 6px;
	background-color: var(--text-secondary);
	transition: all .3s ease-in-out;
	opacity: 0;
}

.navigationMainContainer P:hover::after {
	background-color: var(--text-primary);
	opacity: 1;
} */

/* secondary container */
.navigationSecondaryContainer {
	cursor: pointer;
	transition: transform .6s ease-in-out;
}

.navigationSecondaryContainer:hover {
	transform: scale(1.1);
}

.navigationSecondaryContainer p {
	font-size: 14px;
	font-weight: 500;
	color: var(--text-secondary);
	border-radius: 38px;
	width: max-content;
	padding: 14px;
	transition: color .6s ease-in-out;
	position: relative;
}

/* 
.navigationSecondaryContainer p:hover {
	color: var(--text-reverse-primary);
} */

.navigationSecondaryContainer p:hover {
	color: red;
}

.shopBtn {
	color: var(--text-reverse-primary);
	color: var(--brand-color);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
	width: 50px;
	height: 40px;
	border-radius: 10px 30px 30px 10px;
}

.shopBtn svg {
	width: 24px;
	height: 24px;
}

.cartBtn {
	display: flex;
	color: var(--text-reverse-primary);
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

.cartBtn svg {
	width: 24x;
	height: 24px;
}